<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tray</title>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/iview.min.js"></script>
    <link rel="stylesheet" href="../static/css/iview.css">
</head>

<body>
    <div id="app">
        <ul>
            <li @click="process.exit();">退出</li>
        </ul>
    </div>
    <script>
        window.addEventListener('load', function() {
            new Vue({
                el: "#app",
                data: {},
                methods: {}
            })
        })
    </script>
</body>

</html>